#booking-container{
	display:block;
	margin:0px;
	padding:0px;
	float:left;
	width:100%;
}
.booking-wrapper{
	display:block;
	margin:0px;
	padding:0px;
	float:left;
	width:100%;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#000;
}
.booking-wrapper ul.bgodd,.booking-wrapper ul.bgeven,.booking-wrapper ul.bghead{
	margin:0px;
	padding:0px;
	float:left;
	border-left:#cfcfcf solid 2px;
	border-bottom:#AAA solid 2px;
	text-align:left;
	width:100%;
	background-color:#ffffff;
	width:1263px;
	font-weight:normal;
}
.booking-wrapper ul.bgeven{
	background-color:#f2f2f2;
}
.booking-wrapper ul.bghead{
	background-color:#dedede;
	height:45px;
}
.booking-wrapper ul.bghead li,.booking-wrapper ul.bgeven li,.booking-wrapper ul.bgodd li{
	margin:0px;
	float:left;
	list-style:none;
	padding:5px 5px 5px;
	border-right:#AAA solid 2px;
	text-shadow: 0 1px 0 #FFFFFF;
	height:51px;
	min-height:50px;
	max-height:100px;
	font-weight:bold;
}


ul.bgodd li a.orange_txt, ul.bgeven li a.orange_txt{
	color: #FF2A01;
    text-decoration: underline;
    text-transform: capitalize;
	font-weight:bold;
}
ul.bgodd li a, ul.bgeven li a{
	color:#0770da;
	font-weight:bold;
}
ul.bgodd li a:hover, ul.bgeven li a:hover{
	text-decoration:none;	
}
li.disp{
	display:none;	
}
.greenlft{
	background:url(../images/confirm_tt_green_left.gif) left top no-repeat;
	height:28px;
	width:7px;
	float:left;
}
.greenrgt{
	background:url(../images/confirm_tt_green_right.gif) left top no-repeat;
	height:28px;
	width:7px;
	float:left;
}
.greenmidtile{
	float:left;
	background:url(../images/confirm_tt_green_middle.gif) left top repeat-x;
	width:98%;
	height:28px;
	font:bold 15px Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	line-height:28px;	
}
ul div.greenmidtile {
	margin:0px;
	padding:0px;
	float:left;
	text-align:left;
	width:98%;
}

div.greenmidtile li{	
	margin:0px;
	float:left;
	list-style:none;
	border-right:#AAA solid 2px;
	border-bottom:#AAA solid 2px;
	text-shadow: 0 1px 0 #FFFFFF;
	height:26px;
	font-weight:bold;
}
.widmin{
	width:1280px;
	/*width:1275px !important;*/
	float:left;
}
.widmax{
	width:1876px !important;
	display:block;
}
.headGreen{
	width:1862px !important;
	display:block;
}
.bkID{
	width:68px;
}
.hdbkID{
	width:71px;	
}
.bkStatus{
	width:90px;
}
.hdbkStatus{
	width:100px;
}
.bkLocator{
	width:60px;	
}
.bkDate{
	width:90px;	
}
.bkConName{
	width:230px;
}
.bkCCHolder{
	width:135px;
}
.bkPassName{
	width:190px;
	overflow: auto;
}
.bkDeCity{
	width:120px;
}
.bkVendor{
	width:100px;	
}
.bkFareTtl{
	width:60px;
}
.bkPymntTime{
	width:100px;	
}
.bkAgentName{
	width:90px;
	float:left;
}
.bkAgentComm{
	width:40px;
	float:left;
	padding:0px 7px;
}
.btnModify{
	/*width:62px;	*/
	float:left;
}
.subAgent{
	/*border-bottom: 2px solid #AAA;*/
    margin:0px -5px;
    padding:0px 0px 2px 5px;
}

.dispblock{
	display:block !important;	
}
.pnFound{
	float:left;
	width:265px;
}
.btnDiv{
	float:left;
	width:145px;
	padding-top:2px;
}
.lftSpace{
	float:left;
	width:1263px;
	display:block;
	z-index:-9999;
	font-size:0px;
}
.lftTtl{
	float:left;
	display:block;
	width:90px;
	padding-left:20px;
}
.agntWid{
	float:left;
	display:block;
	width:0px;
	padding-left:100px;
	z-index:-9999;
	font-size:0px;
}
.comm{
	float:left;
	display:block;
	width:47px;
	padding-left:5px;
}
.agent_box{
	width:415px;
	display:block;
}