.main_box_popup{
	display:block !important;
	background: url(../images/tbl_bg_tile.jpg) repeat-x scroll left top #DEDFE3 !important;
    border: 1px solid #D1D1D1 !important;
    margin:2px auto !important;
	/*float:left;*/
	height:auto !important;
	padding:5px !important;
	width:98% !important;
}
.predefinedComment{
	/*float:left;*/
	width:90%;
	margin:0px auto 10px;
	padding:10px;
	border:#ccc solid 1px;
	height:auto;
	clear:both;
}
.predefinedComment strong{
	float:left;
	color:#09F;
	width:100%;
	padding-bottom:5px;	
}
.predefinedComment ul{
	/*float:left;*/
	width:100%;
	margin:0px;
	padding:0px;
	display:block;
	clear:both;
}
.predefinedComment ul li{
	/*float:left;*/
	width:96%;
	margin:0px;
	padding:2px 0px 2px 0px;
	list-style:none;
	display:block;
	clear:both;
}
.predefinedComment ul li label input{
	margin:0px 5px 0px 0px;
}
.close_right{
	float:right;
	width:90%;
	padding-right:8%;
	padding-bottom:5px;
}
.close_right a{
	color:blue !important;
	float:right;
	text-decoration: underline;
	cursor: pointer;
}
.close_right a:hover{
	text-decoration:none;	
}
.predefinelinke{
	color: blue !important;
	text-decoration: underline;
	cursor: pointer;
}
